
{% extends 'travels/base.html' %}

{% block title %}
Edit travel
{% endblock %}

{% block content %}
        <h1>Edit</h1>
        <form method="post" action="{% url 'accounts:edit2' trip.id %}">
            {% csrf_token %}
            <input type="hidden" name="travel_id" value="{{ trip.travel.id }}">
            
            <label>Title</label>
            <input type="text" name="title" value="{{trip.travel.title}}">
            <br>
        
            <label>Description</label>
            <input type="text" name="desc" value="{{trip.travel.desc}}">
            <br>
            
            <label>Location</label>
            <input type="text" name="location" value="{{trip.travel.location}}">
            <br>
        
            <label>Date</label>
            <input type="date" name="date" value="{{ trip.travel.date|date:'Y-m-d' }}"">
            <br>
            
            <label>Photo url</label>
            <input type="text" name="url" value="{{trip.travel.photo}}">
            <br>

            <label>Status </label>
            <select name="status" id="status">
                <option value="available" {% if trip.travel.status == "available" %}selected{% endif %}>available</option>
                <option value="In Progress" {% if trip.travel.status == "In Progress" %}selected{% endif %}>In Progress</option>
                <option value="Completed" {% if trip.travel.status == "Completed" %}selected{% endif %}>Completed</option>
            </select>
            <br>

            <label>Traveler</label>
            <select name="traveler" id="traveler">
                <option value="0">-- Select a Traveler --</option>
                {% for user in users %}
                    <option value="{{ user.id }}" 
                        {% if user.account.name == trip.traveler.account.name %}selected{% endif %}>
                        {{ user.account.name }}
                    </option>
                {% endfor %}
            </select>
            <br>
            
            <button type="submit"> Change </button>
        </form>
        
{% endblock content %}